/* Hamberger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: var(--text-color);
  transition: 0.3s ease;
}

/* Hamburger animation */
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Laptop Styles */
@media screen and (max-width: 1024px) {
  .hero {
    height: 70vh;
  }
  nav {
    padding: 0;
  }
  nav .nav-links {
    gap: 20px;
  }
  .hero h1 {
    font-size: 6rem;
  }
  .hero div:nth-child(2) img {
    width: 180px;
    height: 140px;
    object-fit: cover;
  }
  .hero div:nth-child(3) img {
    width: 140px;
  }
  .hero div:nth-child(4) img {
    width: 150px;
  }
  .hero div:nth-child(5) img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .second-section .content-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .second-section .content-group .left-side img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  .second-section .content-group .right-side h2 {
    font-size: 45px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .fifth-section .image1 {
    width: 200px;
    height: 300px;
    right: 120px;
  }
  .fifth-section .image2 {
    width: 400px;
    height: 400px;
  }
  .fifth-section .image3 {
    width: 200px;
    height: 300px;
    left: 120px;
  }
  .seventh-section .image-group {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .seventh-section .image-group .left-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .seventh-section .image-group .right-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .seventh-section .image-group img {
    width: 100px;
    height: auto;
  }
  .ninth-section .content-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .ninth-section .content-group .left-side img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  .ninth-section .content-group .right-side .top-section h2 {
    font-size: 75px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .tenth-section .content-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .tenth-section .content-group .left-side .top-section h2 {
    font-size: 75px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .tenth-section .content-group .right-side img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  .eleventh-section {
    display: flex;
    width: 100%;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  .eleventh-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .footer-section {
    display: flex;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-white);
    padding: 100px 0;
  }
  .footer-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .footer-section .content-group .newsletter-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    padding: 20px;
    gap: 60px;
  }
  .footer-section .content-group .newsletter-div h4 {
    font-size: 20px;
    color: var(--background-color);
    font-weight: 500;
    line-height: 100%;
    margin-bottom: -25px;
    text-align: center;
  }
  .footer-section .content-group .newsletter-div .input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .footer-section .content-group .newsletter-div .input-div form input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--verylight-grey-color);
    margin-right: 10px;
    color: var(--background-color);
    margin-bottom: 25px;
  }
  .footer-section .content-group .newsletter-div .input-div form button {
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 100;
    color: var(--text-color);
    background-color: var(--primary-color);
  }
  .footer-section .content-group .option-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  }
  .footer-section .content-group .option-div .option-first-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 50px;
  }
  .footer-section
    .content-group
    .option-div
    .option-first-group
    .option-content
    h4 {
    font-size: 20px;
    color: var(--background-color);
    font-weight: 500;
    line-height: 100%;
  }
  .footer-section
    .content-group
    .option-div
    .option-first-group
    .option-content
    ul {
    padding: 0;
  }
  .footer-section
    .content-group
    .option-div
    .option-first-group
    .option-content
    ul
    li {
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
  }
  .footer-section
    .content-group
    .option-div
    .option-first-group
    .option-content
    ul
    li
    a {
    text-decoration: none;
    font-size: 12px;
    color: var(--grey-text-color);
    font-weight: 400;
  }
  .footer-section .content-group .option-div .option-second-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 50px;
  }
  .footer-section
    .content-group
    .option-div
    .option-second-group
    .option-content
    h4 {
    font-size: 20px;
    color: var(--background-color);
    font-weight: 500;
    line-height: 100%;
  }
  .footer-section
    .content-group
    .option-div
    .option-second-group
    .option-content
    ul {
    padding: 0;
  }
  .footer-section
    .content-group
    .option-div
    .option-second-group
    .option-content
    ul
    li {
    margin-bottom: 10px;
    list-style: none;
  }
  .footer-section
    .content-group
    .option-div
    .option-second-group
    .option-content
    ul
    li
    a {
    text-decoration: none;
    font-size: 12px;
    color: var(--grey-text-color);
    font-weight: 400;
  }
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
  nav {
    padding: 0;
  }
  /* Show hamburger */
  .hamburger {
    display: flex;
  }
  /* Hide nav links initially */
  nav .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background: #111;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
    transition: 0.4s ease;
  }
  /* Show when active */
  nav .nav-links.active {
    left: 0;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero div img {
    width: 160px;
  }
  .second-section {
    display: flex;
    width: 100%;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
  }
  .second-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .second-section .content-group .left-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .second-section .content-group .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 0px;
  }
  .second-section .content-group .right-side h2 {
    font-size: 40px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .third-section img {
    height: 420px;
  }
  .fourth-section h3 {
    font-size: 40px;
  }
  .fifth-section .image1 {
    width: 100px;
    height: 150px;
    right: 80px;
  }
  .fifth-section .image2 {
    width: 200px;
    height: 200px;
  }
  .fifth-section .image3 {
    width: 100px;
    height: 150px;
    left: 80px;
  }
  .sixth-section {
    display: flex;
    width: 100%;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
  }
  .sixth-section .section-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    justify-content: center;
  }
  .sixth-section .section-group a i {
    font-size: 30px;
  }
  .sixth-section h4 {
    font-size: 32px;
    line-height: 110%;
  }
  .ninth-section {
    display: flex;
    width: 100%;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
  }
  .ninth-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .ninth-section .content-group .left-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .ninth-section .content-group .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 0px;
  }
  .ninth-section .content-group .right-side .top-section h2 {
    font-size: 40px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .ninth-section .content-group .right-side .bottom-section h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey-text-color);
    padding-bottom: 5px;
  }
  .ninth-section .content-group .right-side .bottom-section a {
    font-size: 16px;
    color: var(--background-color);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--background-white);
    padding: 16px 32px;
    border-radius: 30px;
  }
  .tenth-section .content-group {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .tenth-section .content-group .left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 0px;
  }
  .tenth-section .content-group .left-side .top-section h2 {
    font-size: 40px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
  }
  .tenth-section .content-group .left-side .bottom-section h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey-text-color);
    padding-bottom: 5px;
  }
  .tenth-section .content-group .left-side .bottom-section a {
    font-size: 16px;
    color: var(--background-color);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--background-white);
    padding: 16px 32px;
    border-radius: 30px;
  }
  .tenth-section .content-group .right-side {
    padding-left: 20px;
  }
  .tenth-section .content-group .right-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .twelfth-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .twelfth-section .content-group .input-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .twelfth-section .content-group .input-section form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .footer-section .content-group .option-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  }
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  nav {
    padding: 0;
  }
  .hero h1 {
    font-size: 2.8rem;
    line-height: 100%;
  }
  .hero div img {
    width: 120px;
  }
  .second-section .content-group .left-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .eighth-section .content-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
  }
  .eighth-section .content-group .left-side img {
    width: 65px;
    height: auto;
  }
  .eighth-section .content-group .right-side .top-section h2 {
    font-size: 28px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 120%;
    text-align: left;
  }
  .eighth-section .content-group .right-side .bottom-section img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
  .eighth-section .content-group .right-side .bottom-section h5 {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 120%;
    text-align: left;
  }
  .eighth-section .content-group .right-side .bottom-section span {
    font-size: 14px;
    color: var(--grey-text-color);
  }
  .ninth-section .content-group .left-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .tenth-section .content-group .right-side img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .twelfth-section .content-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .twelfth-section .content-group .join-now-section h5 {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
  }
  .twelfth-section .content-group .heading-section h2 {
    font-size: 50px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 100%;
    text-align: center;
  }
  .twelfth-section .content-group .input-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .twelfth-section .content-group .input-section input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--light-grey-color);
    margin-right: 10px;
    color: var(--text-color);
  }
  .twelfth-section .content-group .input-section button {
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 100;
    color: var(--text-color);
    background-color: var(--primary-color);
  }
}
