@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #ff3c00;
  --secondary-color: #1a1a1a;
  --background-white: #ffffff;
  --background-color: #111111;
  --grey-text-color: #888888;
  --light-grey-color: #222222;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 5px 20px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}
.logo img {
  width: 70px;
}
nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav .nav-links li a {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
nav .nav-links li a:hover {
  font-weight: 600;
}

/* Hero Section */
.hero {
  position: relative; /* Allows absolute positioning for children */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Centers H1 horizontally */
  align-items: center; /* Centers H1 vertically */
  background-color: var(--background-color); /* Optional: dark background */
}

/* H1 Text Styling */
.hero h1 {
  color: var(--text-color); /* Change to any color you like */
  font-size: 10rem;
  z-index: 10; /* Makes sure text is above images */
  text-align: center;
  line-height: 90%;
  font-weight: 400;
  position: relative;
}

/* Images Positioned at Four Corners */
.hero div:nth-child(2) img {
  /* Top-left */
  position: absolute;
  top: 0;
  left: 0;
  width: 400px; /* Adjust size as needed */
  border-radius: 5px;
}

.hero div:nth-child(3) img {
  /* Top-right */
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  border-radius: 5px;
}

.hero div:nth-child(4) img {
  /* Bottom-left */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 550px;
  border-radius: 5px;
}

.hero div:nth-child(5) img {
  /* Bottom-right */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  border-radius: 5px;
}

.second-section {
  display: flex;
  width: 100%;
  min-height: 300px; /* Adjust height as needed */
  margin: 150px 0;
  gap: 60px;
}

/* Left side */
.leftSide {
  flex: 1; /* Takes 50% width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.leftSide img {
  border-radius: 10px;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

/* Right side */
.rightSide {
  flex: 1; /* Takes 50% width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  width: 100%;
}

.rightSide p {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.6;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-color);
}

.rightSide p span {
  font-weight: 600;
  color: var(--grey-text-color);
}
.third-section {
  display: flex;
  width: 100%;
  margin: 150px 0;
}
.third-section img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}
.fourth-section {
  display: flex;
  width: 100%;
  margin: 60px 0;
  align-items: center;
  justify-content: center;
}
.fourth-section h3 {
  font-size: 120px;
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
  line-height: 90%;
}
.fifth-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}
.fifth-section .image1 {
  width: 400px;
  height: 600px;
  object-fit: cover;
  position: relative;
  z-index: 10;
  right: 150px;
  border-radius: 10px;
}
.fifth-section .image2 {
  width: 700px;
  height: 700px;
  object-fit: cover;
  position: absolute;
  z-index: 20;
  border-radius: 10px;
}
.fifth-section .image3 {
  width: 400px;
  height: 250px;
  object-fit: cover;
  position: relative;
  z-index: 30;
  left: 150px;
  border-radius: 10px;
}
.sixth-section {
  display: flex;
  width: 100%;
  margin: 150px 0;
  align-items: center;
  justify-content: center;
}
.sixth-section .section-group {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
  align-items: left;
  justify-content: center;
}
.sixth-section .section-group a {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sixth-section .section-group a i {
  font-size: 30px;
  color: var(--text-color);
  text-decoration: none;
}
.sixth-section h4 {
  font-size: 50px;
  text-align: left;
  color: var(--text-color);
  font-weight: 400;
  line-height: 90%;
}

.seventh-section {
  display: flex;
  width: 100%;
  margin: 100px 0;
  align-items: center;
  justify-content: center;
}
.seventh-section .image-group {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.seventh-section .image-group .left-side {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.seventh-section .image-group .right-side {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.seventh-section .image-group img {
  width: 100px;
  height: auto;
}

.eighth-section {
  display: flex;
  width: 100%;
  margin: 100px 0;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}
.eighth-section .content-group {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.eighth-section .content-group .left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.eighth-section .content-group .left-side img {
  width: 75px;
  height: auto;
}

.eighth-section .content-group .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.eighth-section .content-group .right-side .top-section h2 {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}
.eighth-section .content-group .right-side .bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.eighth-section .content-group .right-side .bottom-section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.eighth-section .content-group .right-side .bottom-section h5 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.eighth-section .content-group .right-side .bottom-section span {
  font-size: 16px;
  color: var(--grey-text-color);
}

.ninth-section {
  display: flex;
  width: 100%;
  margin: 100px 0;
  align-items: center;
  justify-content: center;
}
.ninth-section .content-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.ninth-section .content-group .left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.ninth-section .content-group .left-side img {
  width: 650px;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}
.ninth-section .content-group .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
}
.ninth-section .content-group .right-side .top-section a {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 120%;
  padding: 8px 16px;
  background-color: var(--light-grey-color);
  text-decoration: none;
}
.ninth-section .content-group .right-side .top-section h2 {
  font-size: 75px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 120%;
}
.ninth-section .content-group .right-side .bottom-section h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--grey-text-color);
}
.ninth-section .content-group .right-side .bottom-section a {
  font-size: 16px;
  color: var(--background-color);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--background-white);
  padding: 16px 32px;
  border-radius: 30px;
}

.tenth-section {
  display: flex;
  width: 100%;
  margin: 100px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 75px 0;
}
.tenth-section .content-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.tenth-section .content-group .left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 50px;
}

.tenth-section .content-group .left-side .top-section a {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 120%;
  padding: 8px 16px;
  background-color: var(--light-grey-color);
  text-decoration: none;
}

.tenth-section .content-group .left-side .top-section h2 {
  font-size: 75px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 120%;
}
.tenth-section .content-group .left-side .bottom-section h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--grey-text-color);
}
.tenth-section .content-group .left-side .bottom-section a {
  font-size: 16px;
  color: var(--background-color);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--background-white);
  padding: 16px 32px;
  border-radius: 30px;
}
.tenth-section .content-group .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tenth-section .content-group .right-side img {
  width: 650px;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}
